body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../bilder/flat-lay-frame-with-confetti-purple-background.jpg') no-repeat center center fixed; /* Background image */
  background-size: cover;
  text-align: center; /* Centers content horizontally */
}

h1 {
  color: black; /* Desired color */
  font-family: Monaco, monospace; /* Use a monospaced font */
  /* font-family: "Lucida Handwriting", cursive; */
  font-weight: bold;
  margin-top: 500px; /* Adds some space from the top */
  font-size: 5rem; /* Adjusts the font size */
}

h2 {
  color:black; /* Desired color */
  font-family: 'Courier New', monospace;
  margin-top: 10px; /* Adds some space from the top */
  margin-right: 100px;
  margin-left: 100px; /* Moves the text to the right */
  font-size: 2.2rem; /* Adjusts the font size */
}

h3{
  color: black; /* Desired color */
  margin-top: 80px; /* Adds some space from the top */
  font-size: 1.9rem; /* Adjusts the font size */
  margin-left: 20px;
  margin-right: 20px; /* Moves the text to the right */
}

p {
  color: brown; /* Desired color */
  font-size: 1.2rem; /* Adjusts the font size */
  margin-top: 10px; /* Adds some space from the top */
}

.container {
  width: 400px; /* Sätter bredden på rutan */
  height: auto; /* Gör höjden flexibel baserat på innehållet */
  padding: 20px; /* Lägger till marginaler inuti rutan */
  margin: 20px auto; /* Centrerar rutan horisontellt */
}

input[type="text"] {
  width: 100%; /* Gör att fältet fyller hela container-bredden */
  max-width: 350px; /* Sätter en maxbredd för att det inte ska bli för brett */
  padding: 15px; /* Ökar utrymmet inuti fältet */
  font-size: 1.2rem; /* Gör texten i fältet större */
  margin-bottom: 20px; /* Lägger till avstånd under fältet */
  border: 2px solid #cccccc; /* Sätter en diskret kantlinje */
  border-radius: 8px; /* Rundar hörnen för ett modernare utseende */
  background-color: #ffffff; /* Vit bakgrund för bättre kontrast */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="password"] {
  width: 100%; /* Gör att fältet fyller hela tillgängliga bredden inom sin container */
  max-width: 400px; /* Sätter en maxbredd för att det inte ska bli för brett */
  padding: 15px; /* Ökar inre marginaler för en större känsla */
  font-size: 2rem; /* Gör texten större och mer läsbar */
  margin-bottom: 20px; /* Lägger till mer utrymme under fältet */
  border: 2px solid #cccccc; /* Lägg till en subtil kantlinje */
  background-color: #ffffff; /* Gör bakgrunden vit för bättre kontrast */
  border-radius: 10px; /* Rundar hörnen för ett modernt utseende */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lägg till en svag skugga för att ge djup */
}


button {
  padding: 10px 50px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
