body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../bilder/luxury-balloon-celebration-background-illustration-pink-gold-tone.jpg') no-repeat center center fixed; /* Background image */
  background-size: cover;
  text-align: center; /* Centers content horizontally */
}

h1 {
  color: black; /* Desired color */
  font-family: Monaco, monospace; /* Use a monospaced font */
  /* font-family: "Lucida Handwriting", cursive; */
  font-weight: bold;
  margin-top: 70px; /* Adds some space from the top */
  font-size: 3rem; /* Adjusts the font size */
  margin-bottom: 70px; /* Adds some space from the bottom */
  margin-left: 30px;
  margin-right: 30px; /* Moves the text to the right */
}

h2 {
  color:black; /* Desired color */
  font-family: 'Courier New', monospace;
  margin-top: 120px; /* Adds some space from the top */
  margin-right: 30px;
  margin-left: 30px; /* Moves the text to the right */
  font-size: 50px; /* Adjusts the font size */
}

h3{
  color: black; /* Desired color */
  margin-top: 40px; /* Adds some space from the top */
  font-size: 2rem; /* Adjusts the font size */
  font-weight: 200;
}

p {
  color: brown; /* Desired color */
  font-size: 1.2rem; /* Adjusts the font size */
  margin-top: 10px; /* Adds some space from the top */
  margin-left: 30px;
  margin-right: 30px; /* Moves the text to the right */
}

.container {
  text-align: center;
  padding: 2px;
  width: 300px;
  margin: 20px auto; /* Moves the container below the title */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  padding: 10px 50px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
